body { 
    background-image: url("https://i.ibb.co/txbHP2h/dots.png");
    background-repeat: auto; color: #707070;
}
body a { color: inherit; text-decoration: none !important; }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
// REFERENCES: 
        || Background Image (PAGE) : https://i.ibb.co/txbHP2h/dots.png
        || Special Font: font-family: 'Poiret One', cursive;
        || Color Scheme: 
            #707070 (gray, text)
            #9AC057 (main, green)
            #A0C63F (secondary main, green)
            #FFFFFF (third, green)
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/

h1, h2 ,h3, h4, h5, h6 { font-family: 'Poiret One', cursive; padding: none !important; margin: none !important;}
.txt-t1 { font-size: 22px; } .txt-t2 { font-size: 18px; }
.txt-c { font-family: 'Poiret One', cursive; }
.txt-s { font-family: 'Poiret One', cursive; }
.txt-center { text-align: center; } .txt-right { text-align: right; }
.txt-green { color: #98BF3E; }
.txt-silver { color: silver; }

.margin img { margin-left: auto; margin-right: auto; }
.radius { border-radius: 50px; }
.cb { padding-top: 25px; }
.cb1 img { 
    margin-left: auto; margin-right: auto;
    padding: 20px; background-color: snow;
    border-radius: 100%; border: 1px solid silver; }

.totop button { background-color: #8EB53E; border: none; padding: 10px; border-radius: 100%; }
.totop button img { border-radius: 100%; }

.blogwrap { margin-bottom: 30px; border: 1px solid silver; }
.blogpost a { 
    padding: 3px 6px; margin-right: 10px;
    color: snow; background-color: #8DB53C;
}

.newsbox {
    border: 2px solid lightslategrey;
    padding-top: 10px; padding-bottom: 60px;
}
article { 
    margin-top: 30px; margin-right: 65px; 
    border-bottom: 5px dotted gray; }
article a:hover { color: slategray; }

.newslettersubmit { display: none; }
